.logo-box{
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 100%;
}

.logo {
  height: 300px;
  width: 300px;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}